$color-dark: #1d1c1f;
$color-dark-2: #2D2C2F;
$color-follow: #9B15F1;
$transparent: transparent;

$addColors: (
  "color-dark": (
    $color-dark,
    $white,
  ),
  "color-dark-2": (
    $color-dark-2,
    $white,
  ),
  "color-follow": (
    $color-follow,
    $white,
  ),
  "transparent": (
    $transparent,
    $black,
  ),
);
