html,
body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden !important;
  -ms-overflow: hidden !important;
  background-color: $color-dark;
  color: $white !important;

  #app {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.height-full {
  height: 100%;
}

.banner-image {
  position: relative;
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #00F0FF 0%, rgba(36, 0, 255, 0) 105.22%);
  margin-bottom: 60px;

  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 16px;
    bottom: -40px;
  }

  .logo, .logo figure img {
    background: #006C18;
    box-sizing: border-box;
    border-radius: 10px;
  }
}