.is-size {
  &_11 {
    font-size: 11px !important;
  }
  &_13 {
    font-size: 13px !important;
  }
  &_14 {
    font-size: 14px !important;
  }
  &_15 {
    font-size: 15px !important;
  }
  &_17 {
    font-size: 17px !important;
  }
  &_18 {
    font-size: 18px !important;
  }
}
