<template>
  <div class="hero is-fullheight" @click="open">
    <div class="hero-head p-2">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <b-icon icon="arrow-left" />
          </div>
          <div class="level-item">
            {{profil ? profil.name : ''}}
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a class="has-text-white">
              <b-icon icon="share-variant" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-body is-align-items-flex-start p-0">
      <section class="container">
        <div class="banner-image">
          <figure class="image is-2by1">
            <img
              v-if="profil && profil.background"
              :src="profil.background"
              style="object-fit: cover; height: 150px;">
          </figure>
          <div class="logo">
            <figure class="image is-square">
              <img
                v-if="profil && profil.avatarUrl"
                :src="profil.avatarUrl"
                style="object-fit: cover;">
            </figure>
          </div>
        </div>
        <div class="px-4">
          <div class="">
            Here's an explanation of the Valley Dance Contest
          </div>
          <div class="my-4">
            <b-button
              label="Follow"
              type="is-color-follow"
              expanded
            />
          </div>
        </div>
        <div class="px-4 py-2 mb-1 has-background-color-dark-2">
          <b-button
            label="Upload"
            type="is-white"
            outlined
            rounded
            icon-left="plus-circle-outline"
          />
        </div>
        <div
          v-if="videos.length"
          class="columns is-mobile is-multiline is-marginless">
          <div
            v-for="video in videos"
            :key="video.id"
            class="column p-1 is-4"
            style="text-align: center;">
              <!-- <video autoplay muted :poster="video.mergeThumbnailImg" style="height: 150px">
                <source
                  :src="video.type === 'single' ? video.videos[0].videoUrl : video.mergeVideoUrl"
                  type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
              </video> -->
              <figure class="image is-square">
                <img
                  :src="video.type === 'single'
                    ? video.videos[0].thumbNail
                    : video.mergeThumbnailImg"
                  style="object-fit: cover;">
              </figure>
          </div>
        </div>
        <div
          v-else
          class="has-text-centered p-6">
          There are not posts
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {
  GetProfile,
  GetListCompetition,
} from '@/api/competition';

export default {
  name: 'Home',
  components: {},
  data() {
    return {
      profil: null,
      videos: [],
      page: 1,
    };
  },
  methods: {
    async initData() {
      const loadingComponent = this.$buefy.loading.open({
        container: null,
      });
      const id = this.$route.params.id ? this.$route.params.id : 1;
      try {
        this.profil = (await GetProfile(id)).data.data.competition;
        this.videos = (await GetListCompetition(id, this.page)).data.data.videos;
        loadingComponent.close();
      } catch (error) {
        loadingComponent.close();
      }
    },
    async open() {
      if (!this.$device.mobile) {
        alert('모바일 환경이 아닙니다.');
        return;
      }
      const id = this.$route.params.id ? this.$route.params.id : 1;
      const response = await axios.post(
        'https://firebasedynamiclinks.googleapis.com/v1/shortLinks?key=AIzaSyDP5xbk6zdreG0soUlYbJr8lIOMrzKqWnM',
        {
          dynamicLinkInfo: {
            domainUriPrefix: 'https://osts.page.link',
            link: `https://onesongtwoshows.com/competition/${id}`,
            androidInfo: {
              androidPackageName: 'com.choreofactory.osts',
            },
            iosInfo: {
              iosBundleId: 'com.choreofactory.osts.iphone',
              iosAppStoreId: '1543588154',
            },
          },
        },
        {
          headers: { 'Content-Type': 'application/json' },
        },
      );
      const { data, status } = response;
      if (status === 200) {
        window.location.href = data.shortLink;
      } else {
        alert('링크 오류!!!');
      }
    },
  },
  async mounted() {
    await this.initData();
  },
};
</script>
